<VirtualHost *:80>
    ServerAdmin webmaster@localhost
    DocumentRoot {{ wordpress_install_dir }}

    <Directory {{ wordpress_install_dir }}>
        Options FollowSymLinks
        AllowOverride All
        Require all granted
    </Directory>

    ErrorLog ${APACHE_LOG_DIR}/wordpress_error.log
    CustomLog ${APACHE_LOG_DIR}/wordpress_access.log combined
</VirtualHost>
